<div class="container">
    <div class="row">
      <div class="col-12 mt-5 mx-auto col-md-6">
        <div
        id="carouselExampleAutoplaying"
        class="carousel mx-auto slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/banner1.png" class="d-inline" alt="" />
          </div>
          <div class="carousel-item">
            <img src="../../assets/banner2.png" class="d-inline" alt="" />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="linha">
      <p>CONFIRÁ JÁ AS NOVAS OPÇÕES DE NOSSO CARDÁPIO </p>
    </div>

    <div class="linha2">
      <ul>
        <li><a href="Carrinho" routerLinkActive="active">Seu Carrinho <i class="bi bi-cart3"></i></a></li>
      </ul>
    </div>

      <form class="d-flex mt-5" role="search">
        <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>

    <div class="conteudo">
    
    @for (item of produtos; track $index) {
      <app-cards [id]="item.id" [css]='""' [valor]="item.preco" [descricao]="item.descricao"></app-cards>
    }

    <!-- <ng-container *ngFor="let item of produtos; index as i">
      <app-cards [id]="item.id" [valor]="item.preco" [descricao]="item.descricao"></app-cards>
    </ng-container> -->

    </div>
    
    
     
  </div>
  </div>
  
