.title{
    display: flex;
    margin-top: 5%;
    margin-left: 17%;
    color: #292521;
}

h1{
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 44px;
    font-weight: bolder;
    text-shadow: -0.0001em 0.1em 0.2em rgba(0, 0, 0, 0.514);
}

.promocao{
    margin-right: 17%;
}