<app-navbar
  [tituloDaNav]="'CONTATO'"
  [Content1]="'Entre em contato por Telefone'"
  [Content2]="'Entre em contato por Whatsapp'"
  [Content3]="'Relatar um problema'"

></app-navbar>

<div class="d-flex justify-content-between align-items-center">
    <div class="title">
        <h1>Cardápio</h1>
    </div>
    <div class="voltar">
        <a href="ClientApp">
            <button type="button" class="btn btn-secondary">Voltar</button>
        </a>
    </div>
</div>

<div class="container">
<div class="row col-12 mx-auto box">
    <div class="col">
        <app-cards [id]="'elem1'" [css]='"display: none"'></app-cards>
    </div>

    <div class="col">
        <app-cards [id]="'elem2'" [css]='"display: none"'></app-cards>
    </div>

    <div class="col">
        <app-cards [id]="'elem3'" [css]='"display: none"'></app-cards>
    </div>

    <div class="col">
        <app-cards [id]="'elem4'" [css]='"display: none"'></app-cards>
    </div>
    
  </div>
</div>
