<div class="fundo">
  <div class="row">
    <div class="col-sm-5 mb-5 mt-5 mb-sm-0 mx-auto">
      <div class="card">
        <h5 class="card-header mx-auto">Faça seu login para continuar</h5>

        <div class="card-body">
          <form action="">
            <div class="col-5 mx-auto">
              <h1>IMAGEM AQUI</h1>
            </div>
            <div class="col-12 mx-auto">
              <label for="email" class="mt-3"><h5>Email Brasilenha:</h5></label>
              <input
                type="text"
                name="email"
                id="email"
                class="form-control mx-auto mb-3 input-ico"
              />

              <label for="senha" class="mt-5"><h5>Senha:</h5></label>
              <input
                type="password"
                name="senha"
                id="senha"
                class="form-control mx-auto"
              />
            </div>

            <div class="col-12 mx-auto">
              <input
                type="button"
                class="btn mx-auto mt-5 mb-5 btn-lg"
                value="Entrar"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
