.fundo{
    background-image: url("../assets/image.jpg");
    width: 99%;
    height: 98vh
}

.card {
    width: 29rem;
    height: 35rem;
    margin-top: 8%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #463e31;
    border-radius: 4%;
    /* background-color: #463e31; */
    background: rgb(108,96,76);
    background: radial-gradient(circle, rgba(108,96,76,1) 5%, rgba(107,95,75,1) 32%, rgba(70,62,49,1) 72%);
}

.card-header {
    font-family: 'Alegreya Sans', sans-serif;
    background: none;
    color: rgb(207, 207, 207);
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 0%;
}

label {
    color: rgb(207, 207, 207);
}

.btn {
    background-color: #eacda3 ;
    font-weight: bold;
    
    
}