.navbar {
    background-color: #463e31;
}

.brand-marca {
    width: 50%;
    height: auto;
    margin-left: 7%;
}

.dropdown{
    display: flex;
    justify-content: flex-end;
    margin-left: 73%;
}

.nav-link{
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    
}

.nav-link:hover{
    color: burlywood;
}

@media screen and (min-width: 800px) and (max-width: 1300px) {
    .dropdown{
        display: flex;
        justify-content: flex-end;
        margin-left: 50%;
    }
    
  
  }
  

