<app-navbar
  [tituloDaNav]="'CADASTRAR'"
  [Content1]="'ADICIONAR PRATO AO CARDÁPIO'"
  [Content2]="'ADICIONAR CUPOM PROMOCIONAL'"
  [Content3]="'Cadastrar novo Administrador'"
  [funcao]="option1"
  [funcao2]="option2"

></app-navbar>

<div class="title">
    <h1>Cardápio</h1>
</div>
<div class="container">
<div class="row col-12 mx-auto box">
    <div class="col">
        <app-cards [id]="'elem1'" [css]='"display: none"'></app-cards>
    </div>

    <div class="col">
        <app-cards [id]="'elem2'" [css]='"display: none"'></app-cards>
    </div>

    <div class="col">
        <app-cards [id]="'elem3'" [css]='"display: none"'></app-cards>
    </div>

    <div class="col">
        <app-cards [id]="'elem4'" [css]='"display: none"'></app-cards>
    </div>
    
  </div>
</div>
