.title{
    display: flex;
    margin-top: 5%;
    margin-left: 17%;
    color: #292521;
}

h1{
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(24, 24, 24);
    letter-spacing: 2px;
    font-size: 44px;
    font-weight: bolder;
    text-shadow: -0.0001em 0.1em 0.2em rgba(0, 0, 0, 0.514);
}

.container {
    background-color: #ddcab5;
    font-family: 'Alegreya Sans', sans-serif;
  }

  
.container2 {
  background-color: #614321;
  font-family: 'Alegreya Sans', sans-serif;
}

  .container p {
    font-size: 20px;
  }

  .btn {
    width: 90%;
  }