<!-- <p>
    <mat-form-field appearance="fill">
        <mat-label>Nome do Produto:</mat-label>
        <input matInput placeholder="Nome do Novo Produto:"
            [(ngModel)]="nomeProduto"/>
    </mat-form-field>
</p>

<p>
    <mat-form-field appearance="fill">
        <mat-label>Cupom</mat-label>
        <input matInput placeholder="Cupom"
            [(ngModel)]="cupomProduto"/>
    </mat-form-field>
</p>

<p>
    <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Descricao do Novo Produto"
            [(ngModel)]="descricaoProduto"/>
    </mat-form-field>
</p> -->

<button mat-flat-button color="primary">
    Cadastrar
</button>