<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img class="brand-marca" src="../../assets/logopgn.png" alt="Logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="dropdown">
          <ul class="navbar-nav d-flex me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Outras opções
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-12 mt-5 col-md-6">
      <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/banner1.png" class="d-inline" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../assets/banner2.png" class="d-inline" alt="" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

    <div class="col-12 col-md-6 d-flex flex-column justify-content-center mt-5 mb-5">
    <button type="button" class="btn btn-totem-access btn-secondary mt-5" id="btn-totem">
      <span>Acessar Totem</span>
    </button>
    <button type="button" class="btn btn-totem-access btn-secondary mt-5" id="btn-pedidos">
      <span>Pedidos</span>
    </button>
    <button type="button" class="btn btn-totem-access btn-secondary mt-5" id="btn-cardapio">
      <span>Cardápio</span>
    </button>
  </div>
</div>
</div>
