<div class="card mt-5 mb-5" style="width: 18rem">
  <img src="../../assets/background.png" class="img" alt="ImagemdoCardapio" />
  <div class="card-body">

    <h5 class="card-title mx-auto">Card title</h5>

    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            [attr.data-bs-target]="'#' + id"
            data-bs-toggle="collapse"
            aria-expanded="true"
            [attr.aria-controls]="id"
          >
            Cupons
          </button>
        </h2>
        <div id="{{ id }}" class="accordion-collapse collapse show">
          <div class="accordion-body">{{Cupom}}</div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#' +id + 'content2'"
            aria-expanded="false"
            [attr.aria-controls]="id + 'content2'"
          >
            Informações
          </button>
        </h2>
        <div
          id ="{{id + 'content2'}}"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">{{descricao}}</div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#' + id + 'content3'"
            aria-expanded="false"
            [attr.aria-controls]="id + 'content3'"
          >
            Preço R$
          </button>
        </h2>
        <div
        id ="{{id + 'content3'}}"
          class="accordion-collapse collapse"
        >
          <div class="accordion-body">{{valor}}</div>
        </div>
      </div>
    </div>

    <button class="btn mt-5 mb-2 mx-auto" [attr.style]="css">+ <i class="bi bi-cart3"></i></button>
  </div>
</div>
